// colors
$seaGreen: #20b2aa;
$defaultGray: #d3d3d3;
$grayBackground: #def5ec;
$white: #fff;
$blue: #0000ff;
$lightGrey: #ccc;
$black: #000;
$trolley-gray: #808080;
$royalblue: #4169e1;

// devices
$mobileS: "320px";
$mobileM: "375px";
$mobileL: "575px";
$tablet: "768px";
$laptopS: "990px";
$laptop: "1024px";
$laptopL: "1440px";
$desktop: "2560px";
