thead tr th, tbody td{
    padding: 15px 0px;
}
/* input[type=checkbox]{
    position: absolute;
    opacity: 0;
} */
.checkmark {
    position: absolute;
    top: 14px;
    left: 15px;
    height: 15px;
    width: 15px;
    border: 1px solid #5acba1;
    border-radius: 3px;
  }
  
  /* When the checkbox is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
   .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  Link{
    text-decoration: none;
  }
  tbody .css-1q1u3t4-MuiTableRow-root:hover{
    box-shadow: 1px 4px 4px 1px #ccc;
    -webkit-box-shadow: 1px 4px 4px 1px #ccc;
    -moz-box-shadow: 1px 4px 4px 1px #ccc;
  }